{% extends 'base.html' %} {% block css %}
<link href="../static/css/login.css" rel="stylesheet" /> {% endblock %} {% block body %}
<div class="new-event">
    {% if result %}
    <div class="form">
        <form action="" class="add-event" method="post">
            <input type="text" name="title" id="title" value="{{result['title']}}" required />
            <input type="text" name="description" id="description" value="{{result['description']}}" required />
            <input type="text" name="genre" id="genre" value="{{result['genre']}}" required />
            <input type="text" name="location" id="location" value="{{result['location']}}" required />
            <input type="datetime-local" name="date" id="date" value="{{result['date_time']}}" required />
            <input type="text" name="club-name" id="club-name" value="{{result['club_name']}}" required />
            <input type="number" name="capacity" id="capacity" value="{{result['capacity']}}" required />
            <button>Save Changes</button>
            <!-- <p class="message">Already registered? <a href="#">Sign In</a></p> -->
        </form>
        <!-- <div class="form-group ">
            <div id="msg">{{ msg }}</div>
            <p style="padding:5px;">
        </div> -->
    </div>
    {% endif %}
</div>
{% endblock %}